* {
    font-family: "noto-sans-cjk-jp", sans-serif;
    font-weight: 700;
    font-style: normal;
    user-select: none;
}

#canvas {
    height: 100vh;
    width: 100vw;
}

.kanji {
    position: absolute;
}