* {
    /* --background-color: color-mix(in srgb, #84a8b4 50%, white); */
    --background-color: #c2d4da;
    --main: #84b497;
    --sub: #27352c;
    --accent: #b59686;
    box-sizing: content-box !important;
}

.updown {
    background-color: var(--main);
    padding: 1vmin;
    font-family: 'Poppins', sans-serif;
    font-size: 2.85vmin;
    text-align: center;
    color: white;
    cursor: pointer;
    font-weight: 400;
    transition: box-shadow 0.2s, color 0.1s;
    height: 7.5vmin;
    line-height: 7.5vmin;
    width: 90vmin;
    margin: 0.5vmin;
}

.updown:hover {
    box-shadow: 0 2vmin 5vmin -2vmin var(--main);
}

.active {
    color: var(--sub);
}

.display {
    font-family: 'Poppins', sans-serif;
    font-size: 5vmin;
    text-align: center;
    margin: 2vmin auto;
    color: white;
    height: 7.5vmin;
    width: 90vmin;
    background-color: var(--sub);
}

.menu {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75vmin;
    color: white;
    text-align: left;
    width: 100%;
    height: 100%;
}

.updown span {
    font-family: 'Poppins', sans-serif;
    font-size: 2vmin;
    text-align: center;
    color: white;
    font-weight: 400;
    padding-left: 1vmin;
    line-height: 50%;
}

.leftright {
    height: 18vmin;
    line-height: 18vmin;
    width: 5vmin;
}

.button {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 20vmin;
    width: 90vmin;
    margin-bottom: 10vmin;
}

.horizontalbutton {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 10vmin;
    width: 91vmin;
    margin: 0.5vmin auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100vh;
}

.main {
    width: 90vmin;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    height: 0vmin;
    width: 30vmin !important;
    /* width: 40%; */
    border-radius: 10000px;
    border: solid 0.2vmin white;
    outline: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

#description {
    width: 80vmin;
    overflow-y: scroll;
    height: 15vmin;
}

.description {
    font-family: 'Poppins', sans-serif;
    font-size: 1.75vmin;
    color: white;
    width: 100%;
}

/* thumb */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2vmin;
    height: 2vmin;
    margin-top: 0;
    background-color: var(--accent);
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 2vmin;
    height: 2vmin;
    margin-top: 0;
    background-color: var(--accent);
    border-radius: 50%;
    cursor: pointer;
}

.slider::-ms-thumb {
    width: 2vmin;
    height: 2vmin;
    margin-top: 0;
    background-color: var(--accent);
    border-radius: 50%;
    cursor: pointer;
}

/* thumb-hover */
.slider::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    background-color: var(--accent);
}

.slider::-moz-range-thumb:hover {
    background-color: var(--accent);
}

.slider::-ms-thumb:hover {
    background-color: var(--accent);
}

ul {
    list-style-type: "- ";
}

/* tab */
.tab-menu {
    width: 90vmin;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 2vmin;
}

.tab-menu .tabs {
    display: flex;
    position: relative;
    justify-content: space-around;
}

.tab-menu .tabs .tab {
    cursor: pointer;
    padding: 1.5vmin;
    background-color: var(--sub);
    text-align: center;
    flex-grow: 1;
    color: white;
}

.tab-menu .contents .content {
    padding: 1.5vmin 0;
    display: none;
}

.tab-menu .tabs .opened {
    color: var(--accent);
}

.tab-menu .tabs .tabslider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% / 4);
    height: 0.2vmin;
    background: var(--accent);
    transition: all 0.3s ease;
}

.tab-menu .contents .opened#content2,
.tab-menu .contents .opened#content3 {
    display: block;
}

.tab-menu .contents .content#content1.opened {
    height: 20vmin;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.tab-menu .contents .content#content4.opened {
    display: inline-flex;
    height: 100%;
    width: 90vmin;
    height: 20vmin;
}


.contents {
    background-color: var(--main);
}

.content {
    height: 20vmin;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slidercontainer {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
}

#left {
    margin-right: 0.5vmin;
}

#right {
    margin-left: 0.5vmin;
}


.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    padding: 1.5vmin;
    background-color: var(--sub);
    border: 0.2vmin solid white;
    border-radius: 0.5vmin;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.context-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.context-menu li {
    cursor: pointer;
    padding: 0.8vmin;
}

#contextText {
    font-size: 2vmin;
}

.keybordwrapper {
    width: 75vmin;
    margin: 0 auto;
}

.keys {
    height: 5vmin;
    margin: calc(5vmin / 6);
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.key {
    width: 5vmin;
    height: 5vmin;
    margin: calc(5vmin / 12);
    background-color: white;
    font-size: 2vmin;
    color: black;
    border: 0.2vmin solid black;
    border-radius: 0.5vmin;
    cursor: pointer;
}

.key:active {
    width: 5vmin;
    height: 5vmin;
    margin: calc(5vmin / 12);
    background-color: var(--sub);
    font-size: 2vmin;
    color: white;
    border: 0.2vmin solid black;
    border-radius: 0.5vmin;
    cursor: pointer;
}

#keyboardLayoutInput {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: -webkit-flex;
    display: none;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    z-index: 100000;
    font-family: 'Poppins', sans-serif;
}

#wrapper {
    background-color: white;
    border-radius: 1vmin;
    width: 100vmin;
    height: 50vmin;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    flex-flow: column;
}

#wrapper p {
    color: black;
    text-align: center;
    font-size: 4vmin;
    margin-top: 0;
    margin-bottom: 2vmin;
}

#drop {
    position: relative;
    width: 70vmin;
    height: 10vmin;
    border: 0.2vmin dashed white;
    color: white;
}

#drop.hover {
    border: 0.2vmin dashed var(--sub);
}

#drop input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0px;
    top: 0px;
}

#drop p {
    position: absolute;
    width: 100%;
    height: 20px;
    line-height: 20px;
    left: 0px;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

#result {
    margin-top: 2vmin;
    width: 70vmin;
    height: 10vmin;
    border: 0.2vmin solid white;
    color: white;
    font-size: 2vmin;
    padding: 1vmin;
    background-color: transparent;
    box-sizing: border-box !important;
    white-space: pre-wrap;
    word-break: keep-all;
}