@font-face {
    font-family: 'Supreme';
    src: url('../Supreme.ttf') format('truetype');
    font-weight: 100 800;
    font-display: swap;
    font-style: normal;
}

#input {
    opacity: 0;
    white-space: nowrap;
    position: absolute;
    overflow: visible;
}

body {
    background-color: black;
    cursor: text;
}